<!doctype html>
<html>
<head>
	<title>Find Empty Lecture Room Service</title>
	<style>
	h1{
		padding-top:20px;
		padding-bottom:50px;
		border-bottom:1px solid black;
	}
	form{
		display:inline;
	}
	</style>
</head>
<body>
		<a href="/" style="color: black; text-decoration:none">
			<h1 align="center">Find Empty Lecture Room Service</h1>
		</a>
		<!-- Title Part-->
		
		
		<form action="/action" method="post"  autocomplete=off>
			<label style="font-size:xx-large">BuildingName:</label>&nbsp&nbsp
			<input list="buildingname" name="building" size="100" style="width:1000px; height:30px;" placeholder={{MyBuilding}}>
			<datalist id="buildingname">
				<option value="IT대학4호관(제2학생회관)">
				<option value="IT융복합관(IT융복합공학관)">
				<option value="제4합동강의동">
				<option value="공대12호관">
			</datalist>	
			<input type="submit">		
		</form>
		</br></br>
		<form action="/pick_class" method="post"  autocomplete=off>
			<label style="font-size:xx-large">ClassRoom:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input list="ClassRoom" name="ClassRoom" size="100" style="width:1000px; height:30px;" placeholder="typing ClassRoom number">
			<input type="hidden" name="Building" value={{MyBuilding}}>
			<datalist id="ClassRoom">
			{% if complete %}
				{% for co in complete %}
					<option value={{co}}>
				{% endfor %}
			{% else %}
					<option value="빈 강의실이 없습니다.">
			{% endif %}
			</datalist>
			<input type="submit">
		</form>
		<br/>
		<br/>
		
</body>  